@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&display=swap");


@import url('reset.css');
@import url('content.css');



:root {
  --bg-color: #fff269;
  --text-color: #4c2712;
  --grid-line-color: #A57C47;
  --grid-bg-color: #ffe790;
  --grid-gap: 50px;
}