@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700;900&display=swap");


@import url('reset.css');
@import url('content.css');



:root {
  --bg-color: #fff269;
  --text-color: #4c2712;
}